@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #fbb034;
  --primary-font: "Poppins", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

.yellow-text {
  color: var(--primary-color);
}

.landing-page {
  color: white;
  height: 100vh;
  background-image: url(./assets/background.png);
}

.navbar {
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wraper {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.logo-wraper p {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-col-2 {
  display: flex;
  align-items: center;
  gap: 5.5em;
}

.nav-links {
  display: flex;
  gap: 4em;
}

.nav-links li {
  font-weight: 500;
  list-style-type: none;
  cursor: pointer;
}

.active {
  color: var(--primary-color);
}

.ctc-btn {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border: none;

  padding: 0.5em 1.6em;
  border-radius: 4px;
}

.book-ctc {
  background-color: var(--primary-color);
}

.hero {
  display: flex;
  justify-content: space-between;
}

.text-content {
  padding: 4em;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.welcome-text {
  font-size: 0.8em;
  color: var(--primary-color);
}

.hero-heading {
  font-size: 3em;
}

.hero-description {
  margin-top: 0.5em;
  color: #9a9a9a;
  width: 50%;
}

.hero-ctcs {
  margin-top: 3em;
  width: 60%;
  display: flex;
  gap: 4em;
  flex-wrap: wrap;
}

.service-ctc {
  color: white;
  border: 2px solid #ccc;
  background: none;
}

.image-wrapper {
  margin-top: -20px;
}

.hero-img {
}

.about-us {
  padding: 5em;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-image: url(./assets/aboutBackground.png);
}

.about-pics {
  width: 50%;
}

.about-text-content {
  width: 40%;

  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.abt-topic {
  margin-bottom: 1em;
}

.abt-heading {
  font-size: 3rem;
}

.abt-description {
  width: 70%;
}

.abt-description {
  color: #565656;
}

.readmore-btn {
  align-self: flex-start;
  margin-top: 1em;
  background-color: var(--primary-color);
}

.about-pics {
  position: relative;
}

.absolute-img {
  position: absolute;
  bottom: 1px;
  right: 50px;
  z-index: 1;
}
.white-board {
  background-color: white;
  width: 280px;
  height: 210px;
  position: absolute;
  bottom: 1px;
  right: 55px;
}

.testimonials {
  padding: 3em;
}

.testimonials-text-content {
  width: 30%;
}

.test-topic {
  margin-bottom: 0.5em;
}

.testimonials-heading {
  font-size: 3em;
  line-height: 1;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonials-description {
  color: #ababab;
  margin-top: 1em;
}

.review-btn {
  font-size: 1em;
  font-weight: bold;
  background-color: var(--primary-color);
  margin-top: 2em;
}

.user-testimonials {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.testimonial-card {
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.customer-img {
  border-radius: 50%;
}

.user-testimonial {
  color: #c2c2c2;
}

.user-name {
  text-align: center;
  font-weight: bold;
}

.ctc-section {
  padding: 5em;
  display: flex;
  justify-content: space-between;

  background-image: url(./assets/contactBackground.png);
}

.ctc-text-content {
  width: 50%;
}

.ctc-heading {
  color: white;
  font-size: 3em;
  line-height: 1;
}

.ctc-description {
  color: #b8b8b8;
  margin-top: 1em;
  font-size: 1rem;
  width: 40%;
  margin-bottom: 1.5em;
}

.book-appointment-btn {
  background-color: var(--primary-color);
}

.call-now-card {
  text-decoration: none;
  color: #b8b8b8;
  height: 15em;
  width: 15em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  margin-top: 3rem;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon-wrapper {
  height: 5rem;
  width: 5rem;
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.call-icon {
  fill: var(--primary-color);
}
